management:
  metrics:
    web:
      server:
        request:
          autotime:
            enabled: true
  health:
    diskspace:
      enabled: false
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: info, health, prometheus
      base-path: /internal/actuator

kafka:
  bootstrap:
    server: ${KAFKA_BOOTSTRAP_SERVERS}
  clientId: k9-punsj

systembruker:
  username: ${SYSTEMBRUKER_USERNAME}
  password: ${SYSTEMBRUKER_PASSWORD}

javax:
  net:
    ssl:
      trustStore: ${NAV_TRUSTSTORE_PATH}
      trustStorePassword: ${NAV_TRUSTSTORE_PASSWORD}

springdoc:
  api-docs:
    path: /internal/api-docs
  swagger-ui:
    path: /internal/swagger
  version: 1.0

no.nav:
  navn: '@project.artifactId@'
  versjon: '@project.version@'
  beskrivelse: '@project.description@'
  swagger_server_base_url: ${SWAGGER_SERVER_BASE_URL:http://localhost:8085}
  saf:
    base_url: ${SAF_BASE_URL}
    scopes:
      hente_journalpost_scopes: ${SAF_HENTE_JOURNALPOST_SCOPES}
      hente_dokument_scopes: ${SAF_HENTE_DOKUMENT_SCOPES}
  pdl:
    base_url: ${PDL_BASE_URL}
    scope: ${PDL_SCOPE}
  k9sak:
    base_url: ${K9SAK_BASE_URL}
  k9punsjbolle:
    base_url: ${K9PUNSJBOLLE_BASE_URL}
    scope: ${K9PUNSJBOLLE_SCOPE}
  gosys:
    base_url: ${GOSYS_BASE_URL}
  security:
    sts:
      client:
        token_endpoint: ${NAIS_STS_TOKEN_ENDPOINT}
    jwt:
      expirythreshold: 1
      client:
        azure:
          client_id: ${AZURE_APP_CLIENT_ID}
          jwk: ${AZURE_APP_JWK}
          token_endpoint: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}
      issuer:
        azurev2:
          discoveryurl: ${AZURE_APP_WELL_KNOWN_URL}
          accepted_audience: ${AZURE_APP_CLIENT_ID}
          proxyUrl: ${HTTP_PROXY:}
        naissts:
          discoveryurl: ${APP_NAISSTS_discovery_url}
          accepted_audience: ${APP_NAISSTS_aud}
          proxyUrl:

  db:
    url: ${DEFAULTDS_URL}
    username: ${DEFAULTDS_USERNAME}
    password: ${DEFAULTDS_PASSWORD}
    vault_mountpath: ${DEFAULTDS_VAULT_MOUNTPATH}
  abac:
    system_user: ${SYSTEMBRUKER_USERNAME}
    system_user_password: ${SYSTEMBRUKER_PASSWORD}
    url: ${ABAC_PDP_ENDPOINT_URL}
  audit:
    enabled: ${AUDITLOGGER_ENABLED}
    vendor: ${AUDITLOGGER_VENDOR}
    product: ${AUDITLOGGER_PRODUCT}
server:
  port: ${PORT:8080}
