name: Build Pull Request

on: [pull_request_target]

env:
  GITHUB_USERNAME: x-access-token
  GITHUB_TOKEN: ${{ secrets.PUNSJ_TOKEN }}

jobs:
  Build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: 16
          distribution: 'adopt'
      - uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-pr-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build artifacts & deploy
        shell: bash
        run: |
          mvn clean verify -e --batch-mode -DtrimStackTrace=false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_ACCESS_TOKEN }}

