name: Deploy specifik image til prod

on:
  workflow_dispatch:
    inputs:
      image:
        description: 'Docker image to deploy'
        required: true
        default: 'ghcr.io/k9-punsj/k9-punsj:latest'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy image til prod
        uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: prod-fss
          RESOURCE: nais/prod-fss.yml
          IMAGE: ${{ inputs.image }}
