name: Deploy kafka manager
on:
  push:
    paths:
      - 'kafka/kafka-manager.yaml'
    branches:
      - master
  workflow_dispatch:
jobs:
  deploy-kafka-manager:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: nais/deploy/actions/deploy@v2
        if: github.ref == 'refs/heads/master'
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
          RESOURCE: kafka/kafka-manager.yaml