name: Deploy til prod

on: [workflow_dispatch]

env:
  IMAGE_BASE_CR: ghcr.io/${{ github.repository }}
  GITHUB_USERNAME: x-access-token
  GITHUB_TOKEN: ${{ secrets.PUNSJ_TOKEN }}

jobs:
  Build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          java-version: 16
          distribution: 'adopt'
      - uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: -maven-pr-
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Bygge JAR
        run: |
          mvn clean package -DskipTests
          echo "TAG=${TAG}$(date "+%Y.%m.%d")-$(git rev-parse --short HEAD)" >> $GITHUB_ENV
          echo "IMAGE=${IMAGE}$IMAGE_BASE_CR:$(date "+%Y.%m.%d")-$(git rev-parse --short HEAD)-p" >> $GITHUB_ENV
      - name: Bygg & last opp Docker image
        run: |
          docker build --pull --tag ${IMAGE}  ./app/.
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login -u "x-access-token" --password-stdin ghcr.io
          docker push ${IMAGE_BASE_CR} --all-tags
      - name: Deploy til prod
        uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: prod-fss
          RESOURCE: nais/prod-fss.yml
