name: Deploy kafka topics

on:
  push:
    paths:
      - 'kafka/topics/**'
      - 'kafka/dev-vars.yaml'
      - 'kafka/prod-vars.yaml'
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy-topics:
    strategy:
      matrix:
        topic: [punsjbar-journalpost, punsj-aksjonspunkthendelse-v1, k9-punsj-til-los]

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Deploy topics to dev
        uses: nais/deploy/actions/deploy@v2
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
          RESOURCE: kafka/topics/${{ matrix.topic }}.yaml
          VARS: kafka/dev-vars.yaml

      - name: Deploy topics to prod
        if: github.ref == 'refs/heads/master'
        uses: nais/deploy/actions/deploy@v2
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: prod-gcp
          RESOURCE: kafka/topics/${{ matrix.topic }}.yaml
          VARS: kafka/prod-vars.yaml